<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>259415364435-cr4itlsiun5ardhgvfelqaod5k46shfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259415364435-cr4itlsiun5ardhgvfelqaod5k46shfm</string>
	<key>API_KEY</key>
	<string>AIzaSyAIQbvmgmXEHdTyIjRSBq3QLLQdl3A7Y00</string>
	<key>GCM_SENDER_ID</key>
	<string>259415364435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DrafeSu.BLAuctions</string>
	<key>PROJECT_ID</key>
	<string>blauctions-f1b50</string>
	<key>STORAGE_BUCKET</key>
	<string>blauctions-f1b50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:259415364435:ios:9faf99a8dfc547ee</string>
	<key>DATABASE_URL</key>
	<string>https://blauctions-f1b50.firebaseio.com</string>
</dict>
</plist>